# Maintainer: Alejandro Virelles <thesnakewitcher@gmail.com>
pkgname="tsw-grub-themes"
pkgver="1.0.0"
pkgrel=1
pkgdesc="grub theme virtual future"
arch=("x86_64")
license=("MIT")
depends=("tsw-grub-theme-virtual-future")
backup=()
install=
source=("$pkgname-$pkgver.tar.gz"
        "$pkgname-$pkgver.patch")
md5sums=("SKIP")

package() {
	cd "$pkgname-$pkgver"
	make DESTDIR="$pkgdir/" install
}
